/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

  body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

  article {
  font-family: 'Open Sans', sans-serif;
  padding-top:25px;
  padding-bottom: 50px;
  text-align:justify;
  text-indent:5em;
  line-height: 30px;
}

#main {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  padding-left:235px;
  padding-right:235px;
  padding-top:25px;
}

#fam-pic {
  padding-top:25px;
  padding-bottom:25px;
  align-content: center;
}

  h1 {
  font-family: 'Oleo Script', cursive;
  float: center;
}

  #mini-nav {
  text-align:left;
}
#mini-nav > a {
  text-decoration:none;
  font-family: 'Open Sans', sans-serif;
}

#footer-nav {
  font-family: 'Open Sans', sans-serif;
}

#footer-nav > nav > h2 > a {
  color: white;
  text-decoration: none;
  font-weight: 100;
}

#name {
  font-family: 'Oleo Script', cursive;
  letter-spacing: 0.1em;
  font-weight: 25;
  text-align: right;
}

#contact {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  text-align: right;
}

#contact > a {
  color: white;
  text-decoration: none;
}

#footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  padding-top:1.25em;
}

.column {
  float:left;
  width: 50%;
  padding: 5px;
}
.row::after {
 content: "";
 clear: both;
 display: table;
}

  .navbar {
  font-size: 18px;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links, .logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

.main-nav {
  display: flex;
  margin-right: 30px;
  flex-direction: row;
  justify-content: flex-end;
}

.main-nav li {
  margin: 0;
}

.nav-links {
  margin-left: 40px;
}

.logo {
  margin-top: 0;
}

.navbar-toggle {
  display: none;
}

 .logo:hover, .nav-links:hover {
  color: rgba(255, 255, 255, 1);
}
#picWrap {
  height: 300px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 35px;
}

.search-container {
  float: right;
  padding-left: 20px;
}

.search-container button {
  float: right;
  padding:1.5px 10px;
  margin-top: 2px;
  margin-right: 20px;
  margin-left: 20px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.searchbox {
  padding-left: 50px;
}

.search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 767px) {
  *{
    width:100%;
  }
  .logo {
    display:none;
  }
  .navbar {
    padding-bottom:0px;
  }
  .main-nav {
    flex-direction: column;
    margin-right:0px;
  }
  .search-container{
    display:none;
  }
  #main {
    padding:20px;
  }
  #mini-nav {
    display:none;
  }
  .mySlides {display:none;}

  .w3-content, .w3-display-container {
    display: none;
  }
  article {
    text-indent:0px;
  }
  #footer-nav{
    display: none;
  }
  #social-media{
    display: none;
  }
  #name {
    text-align: center;
  }
  #contact {
    text-align: center;
  }
}

@media screen and (min-width:767px) and (max-width:913px) {
  *{
    width:100%;
  }
  .logo {
    display:none;
  }
  .navbar {
    padding-top:15px;
    padding-bottom:15px;
    min-height: 120px;
  }
  .main-nav {
    flex-direction: column;
    margin-right:0px;
    padding-bottom:15px;
  }
  .search-container{
    display:none;
  }
  #main {
    padding:20px;
  }
  #mini-nav {
    display:none;
  }
  .mySlides {display:none;}

  .w3-content, .w3-display-container {
    display: none;
  }
  article {
    text-indent:0px;
  }
  #footer-nav{
    text-align:left;
    padding-left:25px;
    padding-bottom:15px;
  }
  #social-media{
    display: none;
  }
  #name {
    text-align: right;
    padding-right:25px;
  }
  #contact {
    text-align: right;
    padding-right:25px;
  }
  footer {
    padding-bottom:15px;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
}